body{
    align-items: center;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
   
}
.container{
    background-color:hsl(244, 38%, 16%);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    padding: 0;
    max-width: 950px;
    min-height: 50vh;
}
.text{
    padding: 2rem 2.5rem 0;
}
h4{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3.5rem;
}
h4 span{
    color: hsl(277, 64%, 61%);
}
.text p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
    margin-bottom: 8rem;
}
.stat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 25px 20px 0;
}
.stat p{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 7px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.stat h6{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}
.image{
    padding: 0;
    position: relative;
}
.card{
    border: none; 
}
.card::after{
    background-color: hsla(277, 64%, 61%, 0.55);
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;

}
@media screen and (max-width: 650px) {
    .container {
        border-radius: 1rem;
        flex-direction: column-reverse;
        min-height: 80vh;
    }
    .text{
        text-align: center;
        padding: 3rem;
    }
    h4{
        font-size: 38px;
    }
    .text p{
        color: hsla(0, 0%, 100%, 0.6);
        font-size: 20px;
        margin-bottom: 4rem;
    }
    .stat{
        display: block; 
    }
    .stat-fig{
        margin-bottom: 3rem;
    }
    .stat p{
        font-size: 15px;
    }
    .stat h6{
        font-size: 30px;
    }
    picture{
        object-fit: contain;
    }
    
}